.navbar .nav.pull-right {
margin-left: 10px;
margin-right: 0;
}

.navbar .nav.pull-right {
float: right;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none }
 
#boxes .window {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    display: none;
    z-index: 9999 }

.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
}

.navbar .nav.pull-right>li {
margin-right: 0;
}

.navbar .nav>li {
margin-top: 0;
display: block;
float: left;
margin-right: 8px;
}
.label{color:#333;}
.navbar.light .nav>li>a:not(.btn) {
color: #8B9197;
}

.navbar .nav>li>a:not(.btn) {
float: none;
padding: 8px 10px;
line-height: 20px;
/*color: rgba(255,255,255,0.9);*/
text-decoration: none;
font-weight: 300;
font-size: 18px;
}

.nav>li>a {
display: block;
}

.navbar .navbar-inner {
padding: 14px 0;
color: #555;
background-color: rgba(255,255,255,0.95);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
box-shadow: 0 1px 3px rgba(0,0,0,0.15);
position: fixed;
left: 0;
right: 0;
}


.container {
width: 940px;
margin-left: auto;
margin-right: auto;
}
    .header-bar .brand {
display: block;
background: url(../img/woopra-icon.png) center center no-repeat;
font-size: 20px;
font-weight: 200;
line-height: 1;
color: #000000;
width: 144px;
height: 36px;
padding: 2px 0;
}

.navbar {
overflow: visible;
height: 64px;
background: #fff;
color: #000;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#landing-carousel .item {
display: block;
position: relative;
margin: 0;
text-align: center;
padding: 50px 0;
}

#landing-carousel {
overflow: auto;
margin-left: auto;
margin-right: auto;
}

.title p {
/* width: 600px; */
font-size: 14px;
/* font-weight: 200; */
line-height: 34px;
/* margin-top: 10px; */
color: #000;
/* margin-left: auto; */
/* margin-right: auto; */
text-align: left;
}
.title h1 {
font-weight: 100;
color: #000;
font-size: 40px;
}

.prev {
/* display: block; */
padding: 9.5px;

/* margin: 0 0 10px; */
/* font-size: 13px; */
/* line-height: 1.42857143; */
/* color: #333; */
/* word-break: break-all; */
word-wrap: break-word;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 4px;
}

.arrow {
width: 730px;
height: 40px;
font-style: italic;
text-align: left;
margin-left: auto;
margin-right: auto;
}

p{width: 600px;
margin-left: auto;
margin-right: auto;
text-align: center;}

.orange {
    color: #e3611e;
}

.icon-arrow-top-right {
    background-image: url(../img/seta.png);
    width: 60px;
    height: 31px;
    background-position: -23px -341px;
}

.home-try-it-for-free {
    line-height: 18px;
}

.navbar .nav>li a:hover{
    background: none;
    text-decoration: none;
}

h4 {
    font-size: 16px;
line-height: 34px;
/* font-weight: bold; */
text-align: justify;
margin-bottom: 29px;
padding: 10px;
color: #000;
}

